* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font",monospace ;
  font-size: 80px;
  color: white;
}

.clock-label {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px 60px;
  border-radius: 12px;
}
.clock-time {
  font-size: 60px;
  font-family: "JetBrainsMono Nerd Font";
  color: #ffffff;
  font-weight: bold;
}

.clock-date {
  margin-top:-100px;    
  font-size: 30px;
  font-family: "JetBrainsMono Nerd Font";
  color: #ffffff;
}

.weather
{
  font-size:15px;
 
 
  
}
.weather_window
{
  background-color: rgba(0, 0, 10, 0);

}
.cava-container {
  background-color: rgba(0,0,0,0.0); 
  min-width: 300px;
  min-height: 400px;
  padding: 0px;
}

.rmpc-container {
    background-color: rgba(0,0,0,0.0); 
  min-width: 300px;
  min-height: 400px;
  padding: 0px;

}